@import '../../sass/theme.scss';

.clubs {
  margin: 5rem auto 5rem 8rem;
  // margin-top: 5rem;
  // margin-left: 8rem;

  &-top {
    display: flex;
    width: calc(100vw - 14rem);
    justify-content: space-between;
    padding-bottom: 4.2rem;

    &--title {
      @include font-face('Libre Caslon Text', 3rem, 400);
      color: $brown;
    }

    &--btns {
      display: flex;
      justify-content: space-between;
      transform: translateX(-2rem);
      width: 26%;
    }
  }

  &-cards {
    display: flex;
    align-items: flex-end;
    column-gap: 8rem;
    
    @media only screen and (max-width: 52.5em) {
      column-gap: 6rem;
    }
    
    @media only screen and (max-width: 39.5em) {
      column-gap: 5rem;
    }
    
    @media only screen and (max-width: 26.25em) {
      column-gap: 3rem;
    }

    &--morebtn {
      @include font-face('Montserrat', 1.8rem, 400);
      line-height: 25px;
      color: $brown-2;
      border: none;
      background: none;
      cursor: pointer;
    }
  }
}