@import '../../../sass/theme.scss';

.member{
    text-align: center;
    width: 20%;
    &--name{
        margin-top: 1rem;
        @include textwrap(2);
        @include font-face('Libre Caslon Text',1.8rem,400);
    }
}