.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000;
  overflow: hidden;
  pointer-events: none;
  opacity: 0;
  padding-right: 5rem;

  &CloseBtn {
    position: absolute;
    z-index: 2000000;
    margin: 1rem;
    cursor: pointer;
    background: none;
    border: none;
    top: 0;
    right: 0;
    transform: translate(1rem, -1rem);
    
    &Logo {
      //* TODO 
      height: 3.2rem;
      width: 3.2rem;
    }
  }

  &Wrap {
    z-index: 100000;
    position: relative;
    display: block;
    width: 72rem;
    height: 47.6rem;
    border-radius: 1rem;
    align-self: center;
    background:white;
  }
}

.visible {
  pointer-events: auto;
  opacity: 1;
}



