.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100000;
  overflow-x: hidden;
  backdrop-filter: blur(6px);
  background: rgba(62, 62, 62, 0.6);
  pointer-events: none;
  opacity: 0;

  &CloseBtn {
    position: absolute;
    height: 100vh;
    z-index: 2000000;
    margin: 1rem;
    cursor: pointer;
    background: none;
    border: none;
    transform: translate(40rem, -23rem);
    &Logo {
      //* TODO 
    }
  }

  &Wrap {
    z-index: 100000;
    position: relative;
    display: block;
    width: 72rem;
    height: 47.6rem;
    border-radius: 1rem;
    align-self: center;
    background:white;
  }
}

.visible {
  pointer-events: auto;
  opacity: 1;
}



