@import '../../../sass/theme.scss';


.books{
    padding: 1rem;
    &--header{
        padding: 1rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: row-reverse;
        &-search{
            display: flex;
            column-gap: 2rem;
        }
    }
    &--body{
        padding: 1rem;
        padding-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 3rem;
    }
}