@import '../../sass/theme.scss';

.signup {
  display: flex;
  width: 100%;
  height: 100%;

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    flex: 0.43;
    background: linear-gradient(
      90.52deg, 
      $beige-1 -13.87%, 
      $beige-2 96.24%
    );
    border-radius: 1rem 0 0 1rem;

    &--title {
      @include font-face('Libre Caslon Text', 3rem, 400);
      color: $brown-2;
      line-height: 83.6%;
      position: relative;
      z-index: 100;
      padding: 7rem 0 1.5rem 0;


      &::after {
        content: "";
        position: absolute;
        left: -20%;
        bottom: 0;
        height: 0.15rem;
        width: 5.5rem;
        background: rgba(0, 0, 0, 0.28);
        z-index: -1;
      }

      &::before {
        content: "";
        position: absolute;
        right: -20%;
        bottom: 0;
        height: 0.15rem;
        width: 5.5rem;
        background: rgba(0, 0, 0, 0.28);
        z-index: -1;
      }
    }

    &--illustration {
      width: 21.4rem;
      height: 18.2rem;
      margin-top: 7rem;
    }
  }
  
  &-input {
    flex: 0.57;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 11rem;
    background: $beige-1;
    border-radius: 0 1rem 1rem 0;
    
    &--form {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      &__submitbtn {
        @include font-face('Montserrat', 1.4rem, 400);
        margin-top: 1.25rem;
        width: 8rem;
        height: 3.2rem;
        color: #FFFFFF;
        background: $brown-2;
        border: none;
        border-radius: .5rem;
        cursor: pointer;
      }
    }

    &--or {
      @include font-face('Montserrat', 1.2rem, 700);
      line-height: 83.6%;
      margin: 2.5rem 0;
      color: $brown-2;
    }

    &--google {
      background: transparent;
      cursor: pointer;
      margin-bottom: 6rem;
      border: none;

      &-btn {
        width: 4.3rem;
        height: 4.3rem;
      }
    }

    &--signup {
      @include font-face('Montserrat', 1.1rem, 400);
      line-height: 83.6%;
      color: rgba($brown-2, 0.6);
      cursor: pointer;
      position: absolute;
      bottom: 0;
      transform: translateY(-4rem);
    }
  }
}
