
// PRIMARY COLORS
$beige-1: #F8F3ED; // BG
$beige-2: #F3E4D0; // DARKER THAN BG COLOR
$golden-yellow: #DAAA63; // BORDERS
$brown: #371304; // SATURATED COLOR OF $brown-2
$brown-2: #2C1810; // MOST USED FOR TEXT AND SPECIAL BTNS